<!-- Navbar & Hero Start -->
    <div class="container-fluid nav-bar p-0">
        <div class="row gx-0 bg-primary px-5 align-items-center">
            <div class="col-lg-3 d-none d-lg-block">
                <nav class="navbar navbar-light position-relative" style="width: 250px;">
                    <!-- 1. The Toggle Button -->
                    <button class="navbar-toggler border-0 fs-4 w-100 px-0 text-start" type="button"
                        data-bs-toggle="collapse" data-bs-target="#allCat">
                        <h4 class="m-0"><i class="fa fa-bars me-2"></i>All Categories</h4>
                    </button>
                    <div class="collapse navbar-collapse rounded-bottom bg-white shadow border-top border-primary" id="allCat" 
                        style="position: absolute; width: 100%; top: 100%; left: 0; z-index: 999;">
                        
                        <div class="navbar-nav w-100 py-3">
                            
                            <% if (categories && categories.length) { %>
                                <% categories.forEach(cat => { %>
                                    <!-- 3. Simplified Links (Removed <li> and <ul>) -->
                                    <!-- Just direct links with padding -->
                                    <a href="/products?category=<%= cat._id %>" class="nav-item nav-link px-4 py-2 text-dark">
                                        <%= cat.name %>
                                    </a>
                                <% }) %>
                            <% } else { %>
                                <span class="nav-item nav-link px-4 text-muted">No categories found</span>
                            <% } %>

                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-12 col-lg-9">
                <nav class="navbar navbar-expand-lg navbar-light bg-primary ">
                    <a href="/" class="navbar-brand d-block d-lg-none">
                        <h1 class="display-5 text-secondary m-0"><i
                                class="fas fa-shopping-bag text-white me-2"></i>Electro</h1>
                        <!-- <img src="img/logo.png" alt="Logo"> -->
                    </a>
                    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse">
                        <span class="fa fa-bars fa-1x"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav ms-auto py-0">
                            <a href="/" class="nav-item nav-link">Home</a>
                            <a href="/products" class="nav-item nav-link">Shop</a>
                            <a href="/bestseller" class="nav-item nav-link">Bestseller</a>
                            <a href="/contact" class="nav-item nav-link me-2">Contact</a>
                            <div class="nav-item dropdown d-block d-lg-none mb-3">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">All Category</a>
                                    <li class="nav-item dropdown">
                                        <ul class="dropdown-menu border-0">
                                            <% if (categories && categories.length) { %>
                                                <% categories.forEach(cat => { %>
                                                    <li>
                                                        <a class="dropdown-item" href="/shop?category=<%= cat._id %>">
                                                            <%= cat.name %>
                                                        </a>
                                                    </li>
                                                <% }) %>
                                            <% } else { %>
                                                <li>
                                                    <span class="dropdown-item text-muted">No categories found</span>
                                                </li>
                                            <% } %>
                                        </ul>
                                    </li>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
<!-- Navbar & Hero End -->